@import "compass";

#menu-nav {
  width: 180px;
  border-right: 1px solid #f2f2f2;
  a {
    display: block;
    padding: 15px 0 15px 50px;
    font-size: 13px;
    border-right: 0;
    border-top: 0;
    &.active {
      //background: #3d63ae;
    }
  }
}

#app-container {

  header {
    padding: 5px 15px;
    height: 50px;
    @include box-shadow(0 1px 4px rgba(0, 0, 0, 0.10));
  }
  section {
    margin-top: 1px;
    .content {
      padding: 15px;
    }
  }
}

.panel, .modal-content, a, input, .btn, .dropdown-menu {
  border-radius: 0 !important;
}

.search-form {
  @include display-flex(flex);
  @include flex-wrap(wrap);
  margin-bottom: 15px;
  > div {
    margin-right: 15px;
    margin-bottom: 15px;
  }
  label {
    margin-right: 15px;
  }
  input {
    display: inline-block;
    width: initial;
  }
}

form .input-container {
  margin-right: 15px;
}

table {
  td, th {
    white-space: nowrap;
  }
}